<div class="analytics-loader"
    [ngClass]="{'analytics-loader-hidden': hideLoader}">
    <svg>
        <g>
            <path d="M 50,100 A 1,1 0 0 1 50,0"/>
        </g>
        <g>
            <path d="M 50,75 A 1,1 0 0 0 50,-25"/>
        </g>
        <defs>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color:#673ab7;stop-opacity:1" />
                <stop offset="100%" style="stop-color:#f44336;stop-opacity:1" />
            </linearGradient>
        </defs>
    </svg>
</div>