<table mat-table [dataSource]="tableDataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="FundsNames">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"FUNDS_DETAILS_PAGE.FUND_NAME" | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.FundsNames}} </td>
    </ng-container>
    
    <ng-container matColumnDef="ISIN">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"FUNDS_DETAILS_PAGE.ISIN" | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.ISIN}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Shares">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"FUNDS_DETAILS_PAGE.SHARES" | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.Shares | number}} </td>
    </ng-container>
    
    <ng-container matColumnDef="PricesPerShares">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"FUNDS_DETAILS_PAGE.PRICE_PER_SHARE" | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.PricesPerShares | currency : 'EUR'}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Quantities">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"FUNDS_DETAILS_PAGE.QUANTITY" | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.Quantities | currency : 'EUR'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableDisplayedColumns;"></tr>
</table>