mat-toolbar{
    min-height: 56px;

    .mat-toolbar-row{
        height: 56px;
        
    }

    .toolbar-spacer{
        flex-grow: 1;
    
    }
}

.router-content{
    padding: 1em 1em 0 1em;
    height: calc(100vh - 56px - 1em);
    background: rgb(248, 248, 255);
    overflow: auto;
}

.menu-title{
    margin-left:0.5em;

}