<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>{{activeRouteTitle | translate}}</h1>
        <span class="toolbar-spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon aria-hidden="false" aria-label="Menu Icon">menu</mat-icon>
            <span class="menu-title">{{"REPORTS" | translate}}</span>
        </button>
        <mat-menu #menu="matMenu">
            <button routerLink="/funds-details" mat-menu-item>{{'PAGETITLES.FUNDS_DETAILS' | translate}}</button>
            <button routerLink="/portfolio-overview" mat-menu-item>{{'PAGETITLES.PORTFOLIO_OVERVIEW' | translate}}</button>
            <button routerLink="/subscriptions" mat-menu-item>{{'PAGETITLES.SUBSCRIPTIONS' | translate}}</button>
            <button routerLink="/transactions" mat-menu-item>{{'PAGETITLES.TRANSACTIONS' | translate}}</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<div class="router-content">
    <router-outlet></router-outlet>
</div>

<analytics-loader [hideLoader]="hideLoader"></analytics-loader>